.time-hour{
  text-align: center;
}
.app-text{
  justify-content: space-around;
  display:flex;
  font-size: 20px;
}
.app-time{
  font-size: 100px;
  display:flex;
  justify-content: space-around;
}
.time-app{
  display: inline-block;
  
}
.btn{
  margin-top: 50px;
}
.btn1{
  color:blue;
  font-size: 60px;
  margin-right: 300px;
  border-radius: 10px;
  

}
.btn2{
  color:red;
  font-size: 50px;
  border-radius: 10px;

}
